/* inicio de importar fuentes */
@font-face {
    font-family:"Gotu" ;
    src: url("../resources/fonts/Gotu/Gotu-Regular.ttf");
  }
  @font-face {
    font-family:"Baloo";
    src: url("../resources/fonts/Baloo_Thambi_2/BalooThambi2-Regular.ttf");
  }
  @font-face {
    font-family:"Poppins" ;
    src: url("../resources/fonts/Poppins/Poppins-Regular.ttf");
  }

/* fondos */
.wood{
  background-image:url("../resources/texturas/wood_1.png");
}
.tileable-wood{
  background-image:url("../resources/texturas/tileable_wood_texture.png");
}
.sun-pattern{
  background-image:url("../resources/texturas/sun-pattern.png");
}
  
  /* fuentes */
  .poppins{
    font-family: "Poppins";
  }
  .gotu{
    font-family: "Gotu";
  }
  .baloo{
    font-family: "Baloo";
  }